@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
@import url(variables.css);

* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  color: #F5F5F5;
}

/*=============================================
=              Header section                 =
=============================================*/

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    height: 174px;
}

a{
    text-decoration: none;
    color: #FFF;
}

header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav i{
    color:#000000;
    font-size: 2rem;
    align-self: center;
}

nav a{
    color: #242E52;
    font-size: 13px;
    font-weight: 500;
    transition: .5s;
}

nav a:hover{
    color: var(--csecondary-color);
    font-size: 16px;
}

.btn{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: var(--violet-primary-color);
    border-radius: 50px;
    font-style: normal;
    color: #FFFFFF;
    border: none;
}

.btn-secondary{
    width: 134px;
    height: 44px;
    gap: 10px;
    background: var(--darker-blue-color);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 13.181px;
    font-weight: 500;
}

btn-secondary:hover, 
.btn-m:hover, 
.contact-form input:last-child:hover{
    cursor: pointer;
    opacity:.8;
}

.btn-m{   
    width: 134px;
    height: 44px;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.btn-xs{
    padding: 10px 25px;
    border-radius: 30px;
    width: fit-content;
}

.orientation,
.flex-col
{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.flex-col{
    text-align: center;
}

/* hiding elements - mobile firts*/
.media-m,
.hide-box
{
  display: none;
}

.banner-zone > *{
    width: 85vw;
}

.banner-zone article{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 85px 0 32px 0;
    max-width: 500px;
    gap: 25px;
}

.banner-zone h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 114.6%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.035em;
    margin: 0;
    color: var(--darker-blue-color);
    gap: 3px;
}

.banner-zone p{
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.need-zone{
    margin: auto;
    gap: 100px;
    background: var(--csecondary-color);
}

.need-zone h3{
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 114.6%;
    padding-bottom: 27px;
}

.need-zone p{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 151.1%;
    margin: 0;
}

.need-zone > article{
    width: 90vw;
    padding-bottom: 45px;
    margin: auto;
    align-items: start;
}

.need-zone > article *{
    max-width: 480px;
}

.solutions-zone{
    justify-content: center;
    margin: 50px 0;
}

.solutions-zone h2{
    display: flex;
    color: #323851;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.24px;
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
    align-items: center;
    gap: 3vw;
}

.solutions-zone p{
    color: #B3B2B7;
    font-size: 16.298px;
    font-weight: 500;
    line-height: 25.52px;
    letter-spacing: -0.163px;
    padding: 0 5vw 0 4vw;
}

.solutions-zone div{
    width: 92vw;
    align-self: self-end;
}

.testimonial-zone{
    display: flex;
    color: var(--darker-blue-color);
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-zone > h3{
    color: #242E53;
    font-size: 39.214px;
    font-weight: 700;
    line-height: 156.6%;
    letter-spacing: -0.392px;
    margin: 10px 0 80px 0;
}

.testimonial-zone article{
    background: var(--light-grey--color);
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: auto;
}

.testimonial-zone article > img{
    transform: translateY(-50%);
}

.testimonial-zone article > h4{
    color: #3F4868;
    font-size: 16.071px;
    font-weight: 700;
    line-height: 156.6%;
    letter-spacing: -0.161px;
    margin: 0;
}

.testimonial-zone article > p{
    color: #B9B9C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 156.6%;
    padding: 0 10px 30px 10px;
}
.testimonial-zone a.btn{
    margin: 50px 0;
}

.goforit-zone{
    background: var(--csecondary-color);
    justify-content: space-between;
    align-items: center;
}

.goforit-zone div{
    padding: 50px 0;
    text-align: left;
}

.goforit-zone p{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 119.6%;
    letter-spacing: -0.2px;
    margin: 0;
}

.goforit-zone p:hover{
    color:var(--csecondary-color);;
}
.goforit-zone .btn{
    margin: 0 0 40px 0;
}

footer{
    background: #1E1E26;
}


/*=============================================
=                   FORM                      =
=============================================*/
.contact-form form{
    display: flex;
    width: 80vw;
    margin: 50px 0;
    height: 44px;
    gap: 7px;
}

.contact-form input:first-child{
    border-radius: 50px;
    background: #FFF;
    color: #A0A0A0;
    font-size: 13.181px;
    font-weight: 600;
    display: flex;
    height: 44px;
    width: 90%;
    padding: 13px 0 13px 16px;
    outline:none;
    border: none;
}

.contact-form input:first-child:focus{
    box-shadow: inset -2px -2px 10px var(--violet-primary-color);
}

.contact-form input:last-child{
    margin: 0;
    height: 44px;
}

.footer-navigation-menu{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.footer-navigation-menu ul{
    list-style: none;
    text-align: left;
    padding: 0;
    align-items: flex-start;
    gap: 15px;
}

.footer-navigation-menu ul li a{
    color: #FFF;
    font-size: 16px;
}

.footer-navigation-menu ul li a:hover{
    color: var(--csecondary-color);
    opacity: .5;
}
    
/*=====              FORM            ======*/

.social-networks{
    margin-top: 50px;
    width: 80%;
    gap: 40px;
}
.social-networks div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-networks div i{
    font-size: 24px;
    transition: .5s;
}

.social-networks div i:hover{
    color: var(--csecondary-color);
}

.copyright p{
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    margin-top: 50px;
}

/* @media screen and (min-width: 400px)  {...}*/
@media screen and (min-width: 600px)  {
   .hide-box{
        display:flex;
   }  
}

@media screen and (min-width: 1000px) {
    
    .media-m{
        display: flex;
    }

    .media-s{
        display:none;
    }

    nav > i.burger-menu{
        display: none;
    }

    .orientation{
        display: flex;
        flex-direction: row; 
        gap: 20px;
        padding: 0 7vw;
        justify-self: center;
    }

    .banner-zone{
        padding: 50px 12vw;
        width: 100%;
    }

    .need-zone {
        background: var(--violet-primary-color);
    }

    .need-zone > article{
        align-items: center;
        justify-content: center;
        height: 180px;
        padding-bottom: 0;
    }

    .solutions-zone{
        flex-wrap: wrap;
        padding: 50px 6%;
        justify-content: space-around;
        background: var(--light-grey--color);
        margin-top: 0;
    }

    .solution-container{
        display: flex;
        align-items: flex-start;
        gap: 15px;
    }
    .solutions-zone div{
        max-width: 437px;
    }

    .solutions-zone h2{
        background: var(--light-grey--color);
        gap: 10px;
    }

    .solutions-zone p{
        padding: 0;
    }

    .testimonial-zone{
        padding-bottom: 80px;
    }

    .goforit-zone{
        background: var(--violet-primary-color);
        padding: 0 10vw;
    }
    

    .goforit-zone p{
        text-align: left;
    }

    .goforit-zone .btn{
        margin: 0;
    }

    .btn-secondary{
        background: #FFF;
        color: var(--violet-primary-color);
        font-size: 13.181px;
            font-weight: 500;
    }

    .btn-secondary:hover{
        transform: scale(1.2);
        background: var(--darker-blue-color);
        color: #FFF;
        transition: all .5s;
        cursor: pointer;
    }

    .footer-navigation-menu{
        max-width: 392.727px;
    }

    .contact-form form {
        max-width: 300px;
    }

    .social-networks div {
        justify-content: center;
        gap: 10px;
    }

    footer .orientation{
        flex-direction: row-reverse;
        align-items: flex-start;
        min-height: 140px;
        justify-content: space-between;
        gap: 22px;
        padding: 35px 0 20px 0;
        width: 80vw;
        margin: auto;
    } 

    footer .orientation *{
        height: 100%;
        margin: 0;
    }

    footer section:nth-child(3){
        margin: 0;
        gap: 70px;
        width: fit-content;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    footer .copyright{
        padding: 0 0 20px 0;
        min-height: 30px;
    }

/* @media screen and (min-width: 1400px) {...} */
}